body {
  font-family: 'Helvetica';
  background: black;
  color: white;
}
.s-area {
  left: 50%;
  position: absolute;
}
.s-lean {
  position: absolute;
  left: 50%;
  top: 55%;
}
.grid {
  display: flex;
}
.lap-table {
  cursor: pointer;
}
.left, .right {
  display: flex;
  flex-direction: column;
}